/************* Layout *************/
body {
  position: relative;
  overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
.section-fs {
  min-height: 100vh;
  position: relative;
}
.section-fs > .container, .section-fs > .container > .row {
  min-height: 100vh;
}
.section-fs-1 {
  background: #1a03c8 url("../images/bg-fs-1.jpg");
  background-size: cover;
  color: #ffffff;
}
.section-fs-2 {
  background: #e8eaec;
  color: #454545;
}
.section-fs-3 {
  background: #f4d76d;
}
.section-fs-4 {
  background: #0c6f6f;
  color: #ffffff;
}
.section-fs-5 {
  background: #e8eaec;
}
/************* Typography*************/
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
/************* Buttons **************/
.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 30px;
}
.btn-danger {
  background: #fa4d4d;
}
.btn-danger:hover {
  background: #d93838;
}
.scroll-down-arrow {
  background: #ffffff;
  color: #CBC3EE;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
.scroll-down-arrow:hover {
  color: #1a03c8;
}
/************* Misc *************/
.dots-top-left {
  position: absolute;
  top: 8%;
  left: 3%;
}
.dots-bottom-right {
  position: absolute;
  bottom: 7%;
  right: 3%;
}
.hr-line {
  background: #454545;
  width: 100px;
  height: 3px;
}
.section-fs-3 .hr-line {
  background: #ffffff;
}
.section-fs-4 .hr-line {
  background: #ffffff;
}
/************* Animations *************/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
  }
}
@keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}
/* Wrappers */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
}
#sidebar-wrapper {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#page-content-wrapper {
  width: 100%;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}
/* Sidebar nav styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Hamburger-Cross */
.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover, .hamburger:focus, .hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
  background-color: #ffffff;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  background-color: #ffffff;
}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}
.hamburger.is-open .hamb-middle {
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}
/* Overlay */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}
.sidebar-nav {
  padding: 40px 0;
}
.sidebar-nav li {
  display: block;
  width: 100%;
  padding: 7px 15px;
  ;
}
.sidebar-nav li a {
  color: #454545;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
}