header nav {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 39px;
    cursor: pointer;
}
header nav div {
    width: 27px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat;
    display: flex;
}

section article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .button {
    width: 160px;
    height: 44px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font: normal normal 500 18px/30px Roboto;
    cursor: pointer;
}
section .button.primary {
    background: #FA4D4D;
}
section .button.secondary {
    background: #000000;
}

section:not(#home) {
    display: flex;
}
section:not(#home) article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
section:not(#home) aside {
    flex: 2;
}
section:not(#home) .container {
    text-align: left;
}
section#turntips .container {
    color: #454545;
}
section:not(#home) .container h2 {
    margin-bottom: 20px;
}
section:not(#home) .divider {
    width: 102px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.divider.black {
    background-color: #707070;
}
.divider.white {
    background-color: #fff;
}
section:not(#home) article .description {
    width: 333px;
    text-align: left;
    margin-bottom: 40px;
}
section:not(#home) article .text {
    margin-left: 10px;
}

h1, h2 {
    font: normal normal bold 50px/30px Quicksand;
}

#home {
    background-image: url('assets/Hero Background image.png');
    align-items: center;
    color: #ffffff;
    justify-content: center;
}
#home p {
    width: 626px;
    color: #fff;
    font: normal normal normal 20px/30px Quicksand;
    letter-spacing: 0px;

}
#home a {
    cursor: default;
}
#home .scroll-down {
    width: 78px;
    height: 74px;
    margin-top: 68px;
    background: #ffffff;
    background: url('assets/Scroll\ down\ button.png');
    cursor: pointer;
}
#turntips {
    /* background-image: url('assets/Rectangle\ 1004.png'); */
    background: #E8EAEC;
}
.turntips {
    position: absolute;
    z-index: 1;
}
.turntips.menu {
    background-image: url('assets/Home-CS2\ artwork\ 1.png');
    height: 277px;
    width: 246px;
    top: 351px;
    right: 755px;
}
.turntips.phone {
    background-image: url('assets/Home-CS2\ artwork\ 2.png');
    height: 490px;
    width: 243px;
    top: 159px;
    right: 536px;
}
.turntips.video {
    background-image: url('assets/Home-CS2\ artwork\ 3.png');
    width: 200px;
    height: 100px;
    top: 412px;
    right: 354px;
}
.turntips.doctor {
    background-image: url('assets/Home-CS2\ artwork\ 4.png');
    width: 375px;
    height: 184px;
    top: 566px;
    right: 218px;
}
#byob {
    background-color: #f4d76d;
}
section#byob .container {
    color: #000000;
}
section#byob aside {
    flex: 1;
}
section#byob article {
    flex: 2;
}
section#byob article .text {
    margin-left: 0px;
}
.byob {
    position: absolute;
    z-index: 1px;
}
.byob.text {
    font: normal normal bold 1.1em/40px Arial;
}
.byob.read-text {
    top: 294px;
    left: 203px;
}
.byob.support-text {
    top: 316px;
    left: 691px;
}
.byob.learn-text {
    top: 628px;
    left: 235px;
}
.byob.inspired-text {
    top: 691px;
    left: 695px;
}
.byob.read {
    background-image: url('assets/Home-CS1\ artwork\ 1.png');
    background-position: -71px -8px;
    top: 329px;
    left: 189px;
    width: 191px;
    height: 261px;
}
.byob.boss {
    background-image: url('assets/Home-CS1\ artwork\ 3.png');
    top: 196px;
    left: 405px;
    width: 243px;
    height: 490px;
}
.byob.support {
    background-image: url('assets/Home-CS1\ artwork\ 4.png');
    top: 348px;
    left: 681px;
    width: 138px;
    height: 255px;
}
.byob.learn {
    background-image: url('assets/Home-CS1\ artwork\ 2.png');
    background-position: -72px -49px;
    top: 663px;
    left: 227px;
    width: 166px;
    height: 170px;
}
.byob.inspired {
    background-image: url('assets/Home-CS1\ artwork\ 5.png');
    background-position: -24px -20px;
    top: 726px;
    left: 545px;
    width: 273px;
    height: 85px;
}
#usda {
    background-color: #0C6F6F;
}
section#usda .container {
    color: #ffffff;
}
.usda {
    position: absolute;
    z-index: 1;
}
.usda.phone {
    background-image: url('assets/Home-CS3\ artwork\ 1.png');
    width: 243px;
    height: 490px;
    top: 353px;
    right: 852px;
    z-index: 2;
}
.usda.monitor {
    background-image: url('assets/Home-CS3\ artwork\ 2.png');
    width: 915px;
    height: 747px;
    top: 71px;
    right: 73px;
}
#talk {
    background-color: #E8EAEC;
}
section#talk article{
    flex: 3;
    align-items: start;
}
.talk {
    position: absolute;
    z-index: 1;
    background-image: url('assets/Lets\ talk\ image.png');
    width: 555px;
    height: 796px;
    top: 85px;
    left: 91px;
}
#talk .heading .large-text {
    width: 731px;
    text-align: left;
    font: normal normal bold 50px/72px Quicksand;
    letter-spacing: 0px;
    color: #000000;
}
#talk .container .button {
    margin-top: 40px;
}